# Day 3

* Data Types
    * Numbers
    * Strings
    * Variable Assignment
    * Printing
    * Strings methods
    * Lists
    * Dictionaries
    * Boolians
    * Tuples
    * Sets
* Basic Operations
    * Comparison
    * if, elif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda epressions
    * map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**2

9

This $\%$ will return the remainder of the operation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
# This will return an integer as the quotient
3//2

1

In [7]:
type(2.17327489)

float

In [8]:
type(-3.4)

float

In [9]:
type((2)**0.5)

float

In [10]:
type((16)**0.5)

float

In [11]:
# Strings are sequences of alpha character data.
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [12]:
type('I am a string and I am in a single quotation')

str

In [13]:
print("I am a string and I am in double quotation")

I am a string and I am in double quotation

In [14]:
type("I am a string and I am in double quotation")

str

In [15]:
type(" ")

str

# Variable Assignment

In [17]:
name = 'Moussa'

In [16]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [18]:
var_123 =4

In [28]:
x = 1
y  = 2
z = x+ y

In [29]:
z

3

In [25]:
x = "Moussa"

In [26]:
x

'Moussa'

In [27]:
print(x)

Moussa

In [30]:
name = 'Madison'

In [31]:
print('Hello',name,"welcome to REU")

Hello Madison welcome to REU

In [32]:
print('Hello '+ name+" welcome to REU")

Hello Madison welcome to REU

In [33]:
first_name = 'Madison'
last_name = 'Norwood'

In [34]:
print('Hello HU! My first name is {one} and my last name is {two}'.format(two=last_name,one=first_name))

Hello HU! My first name is: Madison and my last name is Norwood

In [36]:
print('Hello HU! My first name is {} and my last name is {}'.format(first_name,last_name ))

Hello HU! My first name is Madison and my last name is Norwood

In [37]:
print('Hello HU! My first name is {} and my last name is {}'.format(last_name, first_name))

Hello HU! My first name is Norwood and my last name is Madison

# Strings Methods

In [40]:
name = 'destin'

In [41]:
# Title method
print(name.title())

Destin

In [42]:
# Upper method
print(name.upper())

DESTIN

In [44]:
# lower method
school = 'HOWARD UNIVERSITY'
print(school.lower())

howard university

In [45]:
print(school.split())

['HOWARD', 'UNIVERSITY']

In [46]:
a_string = 'h+e+l+l+o'

In [47]:
print(a_string.split('+'))

['h', 'e', 'l', 'l', 'o']

In [48]:
# Count method
activity = 'I am learning Python'
print(activity.count('n'))

3

In [57]:
# Center method
print(activity.center(70))

                         I am learning Python

In [58]:
type('12345')

str

In [59]:
num_str = '12345'

In [62]:
# IS_Numeric method
print(num_str.isnumeric())

True

In [63]:
print(school.isnumeric())

False

In [66]:
# Strip method
name =  "  abc     "

In [67]:
# len will return the length of the string
len(name)

10

In [69]:
a = name.lstrip()
len(a)

8

In [70]:
b = name.rstrip()
len(b)

5

In [71]:
c = name.strip()
len(c)

3

In [78]:
# List is used to store multiple variable into a single variable
a_list = ['Fruit', 'Vegetable','Seafood',"Meat lover", 'car','house']

In [79]:
a_list[0]

'Fruit'

In [80]:
a_list[-1]

'house'

In [81]:
a_list[0:3]
# Note that the index 3 is excluded

['Fruit', 'Vegetable', 'Seafood']

In [82]:
a_list[0:5]

['Fruit', 'Vegetable', 'Seafood', 'Meat lover', 'car']

In [83]:
a_list[0] = 'Salad'

In [84]:
a_list

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house']

In [87]:
a_list[::-1]

['house', 'car', 'Meat lover', 'Seafood', 'Vegetable', 'Salad']

In [88]:
school[::-1]

'YTISREVINU DRAWOH'

In [89]:
a_list.append('Fish')

In [90]:
a_list

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house', 'Fish']

In [91]:
a_list.insert(7,'Shrimp')

['Salad',
 'Vegetable',
 'Seafood',
 'Meat lover',
 'car',
 'house',
 'Fish',
 'Shrimp']

In [93]:
print(a_list)

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house', 'Fish', 'Shrimp']

In [94]:
# pop method
a_list.pop(1)

'Vegetable'

In [95]:
a_list

['Salad', 'Seafood', 'Meat lover', 'car', 'house', 'Fish', 'Shrimp']

In [96]:
# Remove method
a_list.remove('car')

In [97]:
a_list

['Salad', 'Seafood', 'Meat lover', 'house', 'Fish', 'Shrimp']

In [98]:
b_list = ['a','b','c','d']

In [101]:
add_list = a_list + b_list

In [103]:
add_list

['Salad',
 'Seafood',
 'Meat lover',
 'house',
 'Fish',
 'Shrimp',
 'a',
 'b',
 'c',
 'd']

# Dictionary
#### Dictionaries are used to store data in key value pair

In [106]:
firs_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "Mileage" : 200000,
    'Color':'Green',
    "Cylinder" : 6
}

In [108]:
firs_dict['model']

'Mustang'

In [109]:
firs_dict['Origin'] = 'Domestic'

In [110]:
firs_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': '200,000',
 'Color': 'Green',
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [111]:
firs_dict.pop('Color')

'Green'

In [112]:
firs_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': '200,000',
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [113]:
firs_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('Mileage', '200,000'), ('Cylinder', 6), ('Origin', 'Domestic')])

In [114]:
firs_dict.keys()

dict_keys(['brand', 'model', 'year', 'Mileage', 'Cylinder', 'Origin'])

In [115]:
firs_dict.values()

dict_values(['Ford', 'Mustang', 1964, '200,000', 6, 'Domestic'])