# Day 3

* Data Types
    * Numbers
    * Strings
    * Variable Assignment
    * Printing
    * Strings methods
    * Lists
    * Dictionaries
    * Boolians
    * Tuples
    * Sets
* Basic Operations
    * Comparison
    * if, elif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda epressions
    * map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**2

9

This $\%$ will return the remainder of the operation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
# This will return an integer as the quotient
3//2

1

In [7]:
type(2.17327489)

float

In [8]:
type(-3.4)

float

In [9]:
type((2)**0.5)

float

In [10]:
type((16)**0.5)

float

In [11]:
# Strings are sequences of alpha character data.
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [12]:
type('I am a string and I am in a single quotation')

str

In [13]:
print("I am a string and I am in double quotation")

I am a string and I am in double quotation

In [14]:
type("I am a string and I am in double quotation")

str

In [15]:
type(" ")

str

# Variable Assignment

In [16]:
name = 'Moussa'

In [17]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [ ]:
var_123 =4

In [ ]:
x = 1
y  = 2
z = x+ y

In [ ]:
z

In [ ]:
x = "Moussa"

In [ ]:
x

In [ ]:
print(x)

In [ ]:
name = 'Madison'

In [ ]:
print('Hello',name,"welcome to REU")

In [ ]:
print('Hello '+ name+" welcome to REU")

In [ ]:
first_name = 'Madison'
last_name = 'Norwood'

In [ ]:
print('Hello HU! My first name is {one} and my last name is {two}'.format(two=last_name,one=first_name))

In [ ]:
print('Hello HU! My first name is {} and my last name is {}'.format(first_name,last_name ))

In [ ]:
print('Hello HU! My first name is {} and my last name is {}'.format(last_name, first_name))

# Strings Methods

In [ ]:
name = 'destin'

In [ ]:
# Title method
print(name.title())

In [ ]:
# Upper method
print(name.upper())

In [ ]:
# lower method
school = 'HOWARD UNIVERSITY'
print(school.lower())

In [ ]:
print(school.split())

In [ ]:
a_string = 'h+e+l+l+o'

In [ ]:
print(a_string.split('+'))

In [ ]:
# Count method
activity = 'I am learning Python'
print(activity.count('n'))

In [ ]:
# Center method
print(activity.center(70))

In [ ]:
type('12345')

In [ ]:
num_str = '12345'

In [ ]:
# IS_Numeric method
print(num_str.isnumeric())

In [ ]:
print(school.isnumeric())

In [ ]:
# Strip method
name =  "  abc     "

In [ ]:
# len will return the length of the string
len(name)

In [ ]:
a = name.lstrip()
len(a)

In [ ]:
b = name.rstrip()
len(b)

In [ ]:
c = name.strip()
len(c)

In [ ]:
# List is used to store multiple variable into a single variable
a_list = ['Fruit', 'Vegetable','Seafood',"Meat lover", 'car','house']
          # 0         1            2        3      4       5     6

In [ ]:
a_list[0]

In [ ]:
a_list[-1]

In [ ]:
a_list[0:3]
# Note that the index 3 is excluded

In [ ]:
a_list[0:5]

In [ ]:
a_list[0] = 'Salad'

In [ ]:
a_list

In [ ]:
a_list[::-1]

In [ ]:
school[::-1]

In [ ]:
a_list.append('Fish') # Adding member to a list

In [ ]:
a_list

In [ ]:
a_list.insert(7,'Shrimp')

In [ ]:
print(a_list)

In [ ]:
# pop method
a_list.pop(1)

In [ ]:
a_list

In [ ]:
# Remove method
a_list.remove('car')

In [ ]:
a_list

In [ ]:
b_list = ['a','b','c','d']

In [ ]:
add_list = a_list + b_list

In [ ]:
add_list

# Dictionary
#### Dictionaries are used to store data in key value pair

In [ ]:
firs_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "Mileage" : 200000,
    'Color':'Green',
    "Cylinder" : 6
}

In [ ]:
firs_dict['model']

In [ ]:
firs_dict['Origin'] = 'Domestic'

In [ ]:
firs_dict

In [ ]:
firs_dict.pop('Color')

In [ ]:
firs_dict

In [ ]:
firs_dict.items()

In [ ]:
firs_dict.keys()

In [ ]:
firs_dict.values()

# Boolian

In [ ]:
# True or False, Approved, Denied, Yes, No, 1,0

In [ ]:
10 > 3

In [ ]:
-10 > 3

In [ ]:
print((10 > 3) | (-2 > 5))

In [ ]:
print((10 > 3) & (-2 > 5))

# Tuples

In [ ]:
# Unmutable data

In [ ]:
my_tuple = ('user_name', 'password','secret_question')

In [ ]:
a,b,c  = my_tuple

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
my_tuple[0]

In [ ]:
my_tuple[0] = 'name'

In [ ]:
l1 = [1,2,3,4,5]

In [ ]:
t1 = tuple(l1)

In [ ]:
t1[-1] =6

# Set

In [ ]:
set([1,1,1,3,3,4,5,6,7,7])

In [ ]:
S1 = {'hello','hi','hola','salut!'}

In [ ]:
S1

# Basic Operations

In [ ]:
 1 > 3

In [ ]:
 5 >= 5

In [ ]:
1 == 1

In [ ]:
'Hi' == 'Bye'

In [ ]:
'Hi' == 'hi'

In [ ]:
x = 5

# If elif else

In [ ]:
if True:
    print('Yes')

In [ ]:
if True == False:
    print('Nope')

In [ ]:
if 2 > 5:
    print("Bigger")
elif 3 <= 3:
    print("Same")
else:
    print("Different")

In [ ]:
if 2 > 5:
    print("Bigger")
elif 3 >= 3:
    print("Same")
else:
    print("Different")

In [ ]:
emp_names = ['John','Mia','Josh','Kevin','Lee']
name = 'Jon'

In [ ]:
if name == 'John' or name == 'Mia' or name == 'Josh' or name == "Lee":
    print('You are an employer. Hence access granted')
else:
    print("Sorry! Employees only")

In [ ]:
name = 'Mia'

In [ ]:
if name in emp_names:
     print('You are an employer. Hence access granted')
else:
    print("Sorry! Employees only")

# Input

In [ ]:
your_num = int(input("Please enter your number: "))

In [ ]:
type(your_num)

In [18]:
n1 = int(input("Please enter your first number"))
n2 = int(input("Please enter your second number"))
if n1 > n2:
    m = n1
else:
    m = n2
print('The maximum is:', m)

Please enter your first number3
Please enter your second number4
The maximum is: 4

In [19]:
5! = 5x4x3x2x1

SyntaxError: invalid syntax (1300946746.py, line 1)

In [ ]:
# This code will return the factorial of a number
n = int(input("Please enter a positive integer: "))
i =1
p = 1
while i <= n:
    #p = p*i
    p *= i
    #i = i+1
    i += 1
print('The factorial of', n, "is", p)

In [ ]:
n = 5
while i <= 5:
When i = 1
p = 1*1
When i = 2
p = 1*1*2
when i = 3
p = 1*2*3
when i = 4
p = 1*2*3*4
when i = 5
p = 1*2*3*4*5
when i =6 -->> print('Statement')

In [ ]:
# practice Use if, elif, else statement to find the maximum of three numbers

In [ ]:
maxi = 0
num1  = float(input('Please enter first number: '))
num2  = float(input('Please enter second number: '))
num3  = float(input('Please enter third number: '))
if (num1 > num2) and (num1 > num3):
    maxi = num1
    print('You are in the if block')
elif (num2 > num1) and (num2 > num3):
    maxi = num2
    print('You are in the elif block')
else:
    maxi = num3
    print('You are in the else block')
print("The maximum is: ", maxi)

# For loops

In [ ]:
Seq = [1,2,3,4,5,6,7,8,9,10]
for num in Seq:
    print(num**3)

In [ ]:
for num in Seq:
    print("*"*num)

In [ ]:
for num in Seq:
    print(( "Hi"*num).center(60))

In [ ]:
# HW Try pring same tiangle but reverse, heart symbol using codio

In [ ]:
name_gpa = {'Ali':4.0, 'Kevin':4.0, "BErtrum":3.2, 'Sean':3.5, 'Jennifer':3.9}

In [ ]:
emp_list = []
for name, gpa in name_gpa.items():
    if gpa >= 3.5:
        emp_list.append(name)
print(emp_list)

In [ ]:
16--> 16,8,4,2,1  after 8, there no more factor of 16
15---> 15,5, 3,1

In [ ]:
# The factors of 12 are 12,6,4,3,2,1
n = int(input("Please enter a positive integer: "))
print('Factors of', n, 'are', 1, end = ',')
i = 2
count = 2
suma = n+1
while i <= n//2:
    if n % i == 0:
        print(i, end=',')
        count += 1
        suma = suma +i
    i += 1
print(n)
print("The number of factors is ", count)
print("The sum of the factors is: ",suma )

In [ ]:
# Practice: Find the prime factors of a number

In [22]:
!pwd

/c/Users/doumb/Desktop/NEW_Folder/REU_SUMMER_2022

In [23]:
def add_num(num1,num2):
    return num1+num2

In [25]:
add_num(2,6)

8

In [32]:
def double_num(num):
    return num*2

In [30]:
double_num(6)

12

In [33]:
s = [1,2,3,4,5]

In [34]:
s[::-1]

[5, 4, 3, 2, 1]

In [46]:
# val  = Y O B
# new_val = ""
# 1st new_val = Y+""
# 2nd new_val = O+Y
# 3rd new_val = B+O+Y
def reverse_st(val):
    new_val = ""
    for char in str(val):
        new_val = char + new_val
    return new_val

In [45]:
reverse_st(121)

'121'

In [39]:
reverse_st("yensiD")

'Disney'

In [49]:
num_list = [-5,3,2,11,7]
num_list[3]

11

In [48]:
enumerate(num_list)

In [50]:
for idx, num in enumerate(num_list):
    if num < 0:
        num_list[idx] = 0
print(num_list)

[0, 3, 2, 11, 7]

# Lambda Expression

In [51]:
def double_func(num):
    return num*2

In [52]:
double_func(5)

10

In [53]:
double_val = lambda num: num*2

In [54]:
double_val(6)

12

# Map and Filter

In [55]:
seq  = [1,2,3,4,5,6]

In [57]:
list(map(double_func, seq))

[2, 4, 6, 8, 10, 12]

In [58]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10, 12]

In [60]:
list(filter(lambda num: num%2==0, seq))

[2, 4, 6]

In [61]:
len(seq)

6

In [63]:
for num in range(len(seq)):
    if num%2==0:
        print("Even")
    else:
        print('Odd')

Even
Odd
Even
Odd
Even
Odd

In [64]:
def double_func(num):
    return num*2

In [65]:
[num*2 for num in seq]

[2, 4, 6, 8, 10, 12]

In [ ]:
for num in range(len(seq)):
    if num%2==0:
        print("Even")
    else:
        print('Odd')

In [66]:
results = ['Odd' if num%3==0 else "Even" for num in seq]

In [67]:
results

['Even', 'Even', 'Odd', 'Even', 'Even', 'Odd']

In [ ]:
git add .
git commit -m"lambda, map, filter'
git push origin master
git pull origin