# Day 3

* Data Types
    * Numbers
    * Strings
    * Variable Assignment
    * Printing
    * Strings methods
    * Lists
    * Dictionaries
    * Boolians
    * Tuples
    * Sets
* Basic Operations
    * Comparison
    * if, elif, else statements
    * for loops
    * while loops
    * range()
    * linspace()
    * list comprehension
    * functions
    * lambda epressions
    * map & filter

## Numbers

In [1]:
1+3

4

In [2]:
(1+5)*(5-2)

18

In [3]:
3**2

9

This $\%$ will return the remainder of the operation

In [4]:
13%3

1

In [5]:
15//4

3

In [6]:
# This will return an integer as the quotient
3//2

1

In [7]:
type(2.17327489)

float

In [8]:
type(-3.4)

float

In [9]:
type((2)**0.5)

float

In [10]:
type((16)**0.5)

float

In [11]:
# Strings are sequences of alpha character data.
print('I am a string and I am in a single quotation')

I am a string and I am in a single quotation

In [12]:
type('I am a string and I am in a single quotation')

str

In [13]:
print("I am a string and I am in double quotation")

I am a string and I am in double quotation

In [14]:
type("I am a string and I am in double quotation")

str

In [15]:
type(" ")

str

# Variable Assignment

In [16]:
name = 'Moussa'

In [17]:
123_var = 10

SyntaxError: invalid decimal literal (739953904.py, line 1)

In [ ]:
var_123 =4

In [ ]:
x = 1
y  = 2
z = x+ y

In [ ]:
z

In [ ]:
x = "Moussa"

In [ ]:
x

In [ ]:
print(x)

In [ ]:
name = 'Madison'

In [ ]:
print('Hello',name,"welcome to REU")

In [ ]:
print('Hello '+ name+" welcome to REU")

In [ ]:
first_name = 'Madison'
last_name = 'Norwood'

In [ ]:
print('Hello HU! My first name is {one} and my last name is {two}'.format(two=last_name,one=first_name))

In [ ]:
print('Hello HU! My first name is {} and my last name is {}'.format(first_name,last_name ))

In [ ]:
print('Hello HU! My first name is {} and my last name is {}'.format(last_name, first_name))

# Strings Methods

In [ ]:
name = 'destin'

In [ ]:
# Title method
print(name.title())

In [ ]:
# Upper method
print(name.upper())

In [ ]:
# lower method
school = 'HOWARD UNIVERSITY'
print(school.lower())

In [ ]:
print(school.split())

In [ ]:
a_string = 'h+e+l+l+o'

In [ ]:
print(a_string.split('+'))

In [ ]:
# Count method
activity = 'I am learning Python'
print(activity.count('n'))

In [ ]:
# Center method
print(activity.center(70))

In [ ]:
type('12345')

In [ ]:
num_str = '12345'

In [ ]:
# IS_Numeric method
print(num_str.isnumeric())

In [ ]:
print(school.isnumeric())

In [ ]:
# Strip method
name =  "  abc     "

In [ ]:
# len will return the length of the string
len(name)

In [ ]:
a = name.lstrip()
len(a)

In [ ]:
b = name.rstrip()
len(b)

In [ ]:
c = name.strip()
len(c)

In [20]:
# List is used to store multiple variable into a single variable
a_list = ['Fruit', 'Vegetable','Seafood',"Meat lover", 'car','house']
          # 0         1            2        3      4       5     6

In [21]:
a_list[0]

'Fruit'

In [22]:
a_list[-1]

'house'

In [23]:
a_list[0:3]
# Note that the index 3 is excluded

['Fruit', 'Vegetable', 'Seafood']

In [24]:
a_list[0:5]

['Fruit', 'Vegetable', 'Seafood', 'Meat lover', 'car']

In [25]:
a_list[0] = 'Salad'

In [26]:
a_list

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house']

In [27]:
a_list[::-1]

['house', 'car', 'Meat lover', 'Seafood', 'Vegetable', 'Salad']

In [ ]:
school[::-1]

In [28]:
a_list.append('Fish') # Adding member to a list

In [30]:
a_list

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house', 'Fish']

In [31]:
a_list.insert(7,'Shrimp')

In [32]:
print(a_list)

['Salad', 'Vegetable', 'Seafood', 'Meat lover', 'car', 'house', 'Fish', 'Shrimp']

In [33]:
# pop method
a_list.pop(1)

'Vegetable'

In [34]:
a_list

['Salad', 'Seafood', 'Meat lover', 'car', 'house', 'Fish', 'Shrimp']

In [35]:
# Remove method
a_list.remove('car')

In [36]:
a_list

['Salad', 'Seafood', 'Meat lover', 'house', 'Fish', 'Shrimp']

In [37]:
b_list = ['a','b','c','d']

In [39]:
add_list = a_list + b_list

In [42]:
add_list

['Salad',
 'Seafood',
 'Meat lover',
 'house',
 'Fish',
 'Shrimp',
 'a',
 'b',
 'c',
 'd']

# Dictionary
#### Dictionaries are used to store data in key value pair

In [43]:
firs_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "Mileage" : 200000,
    'Color':'Green',
    "Cylinder" : 6
}

In [47]:
firs_dict['model']

'Mustang'

In [48]:
firs_dict['Origin'] = 'Domestic'

In [49]:
firs_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Color': 'Green',
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [50]:
firs_dict.pop('Color')

'Green'

In [51]:
firs_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Mileage': 200000,
 'Cylinder': 6,
 'Origin': 'Domestic'}

In [53]:
firs_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('Mileage', 200000), ('Cylinder', 6), ('Origin', 'Domestic')])

In [54]:
firs_dict.keys()

dict_keys(['brand', 'model', 'year', 'Mileage', 'Cylinder', 'Origin'])

In [55]:
firs_dict.values()

dict_values(['Ford', 'Mustang', 1964, 200000, 6, 'Domestic'])

# Boolian

In [56]:
# True or False, Approved, Denied, Yes, No, 1,0

In [57]:
10 > 3

True

In [58]:
-10 > 3

False

In [59]:
print((10 > 3) | (-2 > 5))

True

In [60]:
print((10 > 3) & (-2 > 5))

False

# Tuples

In [61]:
# Unmutable data

In [62]:
my_tuple = ('user_name', 'password','secret_question')

In [63]:
a,b,c  = my_tuple

In [64]:
a

'user_name'

In [65]:
b

'password'

In [66]:
c

'secret_question'

In [67]:
my_tuple[0]

'user_name'

In [68]:
my_tuple[0] = 'name'

TypeError: 'tuple' object does not support item assignment

In [69]:
l1 = [1,2,3,4,5]

In [71]:
t1 = tuple(l1)

In [72]:
t1[-1] =6

TypeError: 'tuple' object does not support item assignment

# Set

In [74]:
set([1,1,1,3,3,4,5,6,7,7])

{1, 3, 4, 5, 6, 7}

In [75]:
S1 = {'hello','hi','hola','salut!'}

In [76]:
S1

{'hello', 'hi', 'hola', 'salut!'}

# Basic Operations

In [77]:
 1 > 3

False

In [78]:
 5 >= 5

True

In [79]:
1 == 1

True

In [81]:
'Hi' == 'Bye'

False

In [82]:
'Hi' == 'hi'

False

In [83]:
x = 5

In [ ]:
# If elif else